#imgOption{
    height: 200px;
}

.center{
    text-align: center;
}

.slide{
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.target{
    margin: 10px;
    border: 1px dashed black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
}

.dica{
    margin: 10px;
}

.btn-light{
    background-color: white;
    border-color: white;
}