*{
    margin:  0;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

:root{
    --primary: blue;
    --danger: red;
    --dark: #555;
    --light: #ccc;
}

html, body{
    width: 100%;
    height: 100%;
}

.game-name{
    font-weight: bold;
    font-size: 1.5em;
    padding: 16px;
}

.logo{
    margin-top: 50px;
    width: 100%;
}

.fala-persona{
    padding: 16px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.position-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#enunciado{
    font-size: 1em;
    font-weight: bold;
}

#respostas{
    font-size: 1em;
}

.resposta{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.grupo{
    border: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
}